In [5]:
import pandas as pd

In [54]:
# Previously all the dataset was filtered from all titleType except "movie"

In [24]:
name_basics_path = "/media/asevlad/0E4308EC0E4308EC/Data Science Project/name.basics.csv"
title_basics_path = "/media/asevlad/0E4308EC0E4308EC/Data Science Project/title.basics.csv"
title_crew_path = "/media/asevlad/0E4308EC0E4308EC/Data Science Project/title.crew.csv"
title_principals_path = "/media/asevlad/0E4308EC0E4308EC/Data Science Project/title.principals.csv"
title_ratings_path = "/media/asevlad/0E4308EC0E4308EC/Data Science Project/title.ratings.csv"

paths = [name_basics_path, title_basics_path, title_crew_path, title_principals_path, title_ratings_path]

In [25]:
df_name_basics = pd.read_csv(name_basics_path)
df_name_basics
# Here we have dataset about people (actors, writers, directors, literally everybody) and their info.
# nconst - is an person id
# known for titles - movie ids for which they are known

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899.0,1987.0,"actor,miscellaneous,producer","tt0072308,tt0050419,tt0053137,tt0027125"
1,nm0000002,Lauren Bacall,1924.0,2014.0,"actress,soundtrack,archive_footage","tt0037382,tt0075213,tt0117057,tt0038355"
2,nm0000003,Brigitte Bardot,1934.0,NaN,"actress,music_department,producer","tt0057345,tt0049189,tt0056404,tt0054452"
3,nm0000004,John Belushi,1949.0,1982.0,"actor,writer,music_department","tt0072562,tt0077975,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918.0,2007.0,"writer,director,actor","tt0050986,tt0083922,tt0069467,tt0050976"
...,...,...,...,...,...,...
2172540,nm9993656,Jerzy Ciurlok,NaN,NaN,actor,tt8739208
2172541,nm9993657,Jason Green,NaN,NaN,writer,tt8187876
2172542,nm9993680,Christopher-Lawson Palmer,NaN,NaN,actor,"tt21745568,tt10427366,tt8295580,tt21047844"
2172543,nm9993693,Apsara Rani,1996.0,NaN,actress,"tt12856788,tt8302382,tt13847502,tt8737752"
2172544,nm9993694,Chinmay Mishra,NaN,NaN,"actor,director,writer","tt18361688,tt18687502,tt8737752,tt9083282"

In [26]:
df_title_basics = pd.read_csv(title_basics_path)
df_title_basics
# Dataset about movies
# tconst - movie id
# titleType - type of the movie. I have cleaned from all other types (as serieses, shorts and others). So we have only type "movie" here

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894.0,NaN,45.0,Romance
1,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897.0,NaN,100.0,"Documentary,News,Sport"
2,tt0000502,movie,Bohemios,Bohemios,0,1905.0,NaN,100.0,NaN
3,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906.0,NaN,70.0,"Action,Adventure,Biography"
4,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907.0,NaN,90.0,Drama
...,...,...,...,...,...,...,...,...,...
679666,tt9916622,movie,Rodolpho TeÃ³philo - O Legado de um Pioneiro,Rodolpho TeÃ³philo - O Legado de um Pioneiro,0,2015.0,NaN,57.0,Documentary
679667,tt9916680,movie,De la ilusiÃ³n al desconcierto: cine colombiano...,De la ilusiÃ³n al desconcierto: cine colombiano...,0,2007.0,NaN,100.0,Documentary
679668,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013.0,NaN,NaN,Comedy
679669,tt9916730,movie,6 Gunn,6 Gunn,0,2017.0,NaN,116.0,Drama
679670,tt9916754,movie,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,0,2013.0,NaN,49.0,Documentary

In [27]:
df_title_crew = pd.read_csv(title_crew_path)
df_title_crew
# The table of matching movie id to its director id (person id) and writer id (person id)

           tconst            directors                        writers
0       tt0000009            nm0085156                      nm0085156
1       tt0000147            nm0714557                            NaN
2       tt0000502            nm0063413  nm0063413,nm0657268,nm0675388
3       tt0000574            nm0846879                      nm0846879
4       tt0000591            nm0141150                      nm0141150
...           ...                  ...                            ...
663758  tt9916622  nm9272490,nm9272491            nm9272490,nm9272491
663759  tt9916680            nm0652213           nm0652213,nm10538576
663760  tt9916706            nm7764440                      nm7933903
663761  tt9916730           nm10538612                     nm10538612
663762  tt9916754  nm9272490,nm8349149            nm8349149,nm9272490

[663763 rows x 3 columns]

In [28]:
df_title_principals = pd.read_csv(title_principals_path)
df_title_principals
# dataset about people who worked there: actors, directors so on..
# ordering - is the kind of importance of person in movie.

,tconst,ordering,nconst,category,job,characters
0,tt0000009,1,nm0063086,actress,NaN,"[""Miss Geraldine Holbrook (Miss Jerry)""]"
1,tt0000009,2,nm0183823,actor,NaN,"[""Mr. Hamilton""]"
2,tt0000009,3,nm1309758,actor,NaN,"[""Chauncey Depew - the Director of the New Yor..."
3,tt0000009,4,nm0085156,director,NaN,NaN
4,tt0000009,5,nm0085156,writer,NaN,NaN
...,...,...,...,...,...,...
7832248,tt9916754,16,nm10538638,cinematographer,cinematographer,NaN
7832249,tt9916754,17,nm8349149,cinematographer,director of photography,NaN
7832250,tt9916754,18,nm10538635,cinematographer,cinematographer,NaN
7832251,tt9916754,19,nm8349149,editor,supervising editor,NaN
7832252,tt9916754,20,nm9275320,editor,editor,NaN

In [29]:
df_title_ratings = pd.read_csv(title_ratings_path)
df_title_ratings

           tconst  averageRating  numVotes
0       tt0000009            5.4       211
1       tt0000147            5.2       512
2       tt0000502            4.4        17
3       tt0000574            6.0       900
4       tt0000591            5.4        24
...           ...            ...       ...
309442  tt9916362            6.4      5788
309443  tt9916428            3.4        18
309444  tt9916538            8.6         7
309445  tt9916706            7.6         5
309446  tt9916730            7.0        12

[309447 rows x 3 columns]

In [23]:
# # replace /N with None
# for path in paths:
#     df = pd.read_csv(path)
#     df.replace("\\N", None).to_csv(path, index=False)

/tmp/ipykernel_12610/4068103764.py:3: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

In [34]:
# OHE fpr sparce matrix
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np
from scipy.sparse import csr_matrix
from typing import Tuple, List

def get_sparce_OHE(df_series) -> Tuple[csr_matrix, List[str]]:
    """
    :param df_series: pd.Series with categorical values 
    :return: Tuple(sparse_matrix, list of feature names) 
    
    ATTENTION! Count np.nan as a feature
    """
    vectorizer = CountVectorizer(tokenizer=lambda x: x.split(','), binary=True, dtype=np.int8)
    sparse_matrix = vectorizer.fit_transform(df_series.values.astype('U'))
    
    return sparse_matrix, vectorizer.get_feature_names_out()

# get_sparce_OHE(df_title_basics["genres"])

In [35]:
get_sparce_OHE(df_title_basics["genres"])

/home/asevlad/anaconda3/lib/python3.11/site-packages/sklearn/feature_extraction/text.py:525: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

(<679671x28 sparse matrix of type '<class 'numpy.int8'>'
 	with 998998 stored elements in Compressed Sparse Row format>,
 array(['action', 'adult', 'adventure', 'animation', 'biography', 'comedy',
        'crime', 'documentary', 'drama', 'family', 'fantasy', 'film-noir',
        'game-show', 'history', 'horror', 'music', 'musical', 'mystery',
        'nan', 'news', 'reality-tv', 'romance', 'sci-fi', 'sport',
        'talk-show', 'thriller', 'war', 'western'], dtype=object))

In [41]:
# Tenet
tf_to_observe = "tt6723592"

In [42]:
# get director and writer Id
df_title_crew[df_title_crew["tconst"] == tf_to_observe]

           tconst  directors    writers
602177  tt6723592  nm0634240  nm0634240

In [46]:
# get info about director
df_name_basics[df_name_basics["nconst"].isin(df_title_crew[df_title_crew["tconst"] == tf_to_observe]["directors"])]

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
274653,nm0634240,Christopher Nolan,1970.0,NaN,"writer,producer,director","tt6723592,tt1375666,tt0816692,tt0482571"

In [47]:
# get Nolans Ids of films know for 
nolan_films = df_name_basics[df_name_basics["nconst"].isin(["nm0634240"])]["knownForTitles"].iloc[0].split(",")
nolan_films

['tt6723592', 'tt1375666', 'tt0816692', 'tt0482571']

In [48]:
df_title_basics[df_title_basics["tconst"].isin(nolan_films)]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
210957,tt0482571,movie,The Prestige,The Prestige,0,2006.0,NaN,130.0,"Drama,Mystery,Sci-Fi"
217928,tt0816692,movie,Interstellar,Interstellar,0,2014.0,NaN,169.0,"Adventure,Drama,Sci-Fi"
307899,tt1375666,movie,Inception,Inception,0,2010.0,NaN,148.0,"Action,Adventure,Sci-Fi"
616789,tt6723592,movie,Tenet,Tenet,0,2020.0,NaN,150.0,"Action,Sci-Fi,Thriller"

In [49]:
df_title_principals[df_title_principals["tconst"] == tf_to_observe]

,tconst,ordering,nconst,category,job,characters
7204922,tt6723592,1,nm0913475,actor,NaN,"[""Protagonist""]"
7204923,tt6723592,2,nm1500155,actor,NaN,"[""Neil""]"
7204924,tt6723592,3,nm4456120,actress,NaN,"[""Kat""]"
7204925,tt6723592,4,nm1798449,actor,NaN,"[""Passenger""]"
7204926,tt6723592,5,nm2131630,actor,NaN,"[""Well-Dressed Man""]"
7204927,tt6723592,6,nm0882616,actor,NaN,"[""Uniformed Official""]"
7204928,tt6723592,7,nm0397110,actor,NaN,"[""Driver""]"
7204929,tt6723592,8,nm0991553,actor,NaN,"[""SWAT""]"
7204930,tt6723592,9,nm0991553,actor,NaN,"[""Target""]"
7204931,tt6723592,10,nm1942304,actor,NaN,"[""SWAT 2""]"
7204932,tt6723592,11,nm1434871,actor,NaN,"[""SWAT 3""]"
7204933,tt6723592,12,nm0634240,director,NaN,NaN
7204934,tt6723592,13,nm0634240,writer,written by,NaN
7204935,tt6723592,14,nm0634240,producer,producer,NaN
7204936,tt6723592,15,nm0858799,producer,producer,NaN
7204937,tt6723592,16,nm3234869,composer,composer,NaN
7204938,tt6723592,17,nm0887227,cinematographer,director of photography,NaN
7204939,tt6723592,18,nm2352780,editor,NaN,NaN
7204940,tt6723592,19,nm0660667,casting_director,NaN,NaN
7204941,tt6723592,20,nm0189769,production_designer,NaN,NaN

In [52]:
pd.merge(
    df_title_principals[df_title_principals["tconst"] == tf_to_observe][["nconst", "ordering"]],
    df_name_basics,
    how="inner",
    on="nconst"
).sort_values("ordering")

,nconst,ordering,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0913475,1,John David Washington,1984.0,NaN,"actor,producer,soundtrack","tt6723592,tt7349662,tt12676326,tt11858890"
1,nm1500155,2,Robert Pattinson,1986.0,NaN,"actor,producer,writer","tt1099212,tt1877830,tt1325004,tt1324999"
2,nm4456120,3,Elizabeth Debicki,1990.0,NaN,"actress,producer,archive_footage","tt1343092,tt4218572,tt6723592,tt3896198"
3,nm1798449,4,Juhan Ulfsak,1973.0,NaN,"actor,writer,director","tt6723592,tt0446310,tt31613653,tt8943574"
4,nm2131630,5,Jefferson Hall,1977.0,NaN,"actor,producer,archive_footage","tt15398776,tt6723592,tt1502407,tt2488496"
5,nm0882616,6,Ivo Uukkivi,1965.0,NaN,"actor,producer","tt6723592,tt2392252,tt15553152,tt2343913"
6,nm0397110,7,Andrew Howard,1969.0,NaN,"actor,producer,writer","tt13966962,tt1542768,tt1219289,tt2446042"
7,nm0991553,8,Rich Ceraulo Ko,NaN,NaN,"actor,producer,director","tt6723592,tt1520211,tt0413573,tt12887536"
8,nm0991553,9,Rich Ceraulo Ko,NaN,NaN,"actor,producer,director","tt6723592,tt1520211,tt0413573,tt12887536"
9,nm1942304,10,Jonathan Camp,NaN,NaN,actor,"tt6723592,tt5709188,tt3559570,tt0454941"
10,nm1434871,11,Wes Chatham,1978.0,NaN,"actor,producer,writer","tt1951265,tt1951266,tt0478134,tt6723592"
11,nm0634240,12,Christopher Nolan,1970.0,NaN,"writer,producer,director","tt6723592,tt1375666,tt0816692,tt0482571"
12,nm0634240,13,Christopher Nolan,1970.0,NaN,"writer,producer,director","tt6723592,tt1375666,tt0816692,tt0482571"
13,nm0634240,14,Christopher Nolan,1970.0,NaN,"writer,producer,director","tt6723592,tt1375666,tt0816692,tt0482571"
14,nm0858799,15,Emma Thomas,1971.0,NaN,"producer,miscellaneous,actress","tt1375666,tt15398776,tt6723592,tt0468569"
15,nm3234869,16,Ludwig GÃ¶ransson,1984.0,NaN,"composer,music_department,producer","tt8111088,tt6587640,tt6723592,tt1825683"
16,nm0887227,17,Hoyte Van Hoytema,1971.0,NaN,"cinematographer,camera_department,composer","tt6723592,tt10954984,tt0816692,tt5013056"
17,nm2352780,18,Jennifer Lame,NaN,NaN,"editorial_department,editor","tt6723592,tt15398776,tt7653254,tt4034228"
18,nm0660667,19,John Papsidera,NaN,NaN,"casting_director,casting_department,producer","tt4236770,tt13991232,tt18335752,tt15398776"
19,nm0189769,20,Nathan Crowley,1966.0,NaN,"production_designer,art_department,art_director","tt6166392,tt1262426,tt0468569,tt0816692"

In [53]:
df_title_ratings[df_title_ratings["tconst"] == tf_to_observe]

           tconst  averageRating  numVotes
287418  tt6723592            7.3    593387